*{ /* Below is a CSS reset - aims to wipe the default browser styles cleanly - to make it look consistent with any browser used */
    box-sizing: border-box; /* when a box is given a width, if added padding or border, apply it with the given width, not in addition to it. */
    padding: 0;
    margin: 0;
    max-width: 100%; /* Helps with responsive design: It can never be bigger than parent. It helps with images that like to break outside of their wrappers */
    border: 1px solid grey; /* For styling to see what is happening */
}

/* Using rems - everything is based off of the below font-size set on the html */
html{
    font-size: 62.5%; /* this makes 1 rem = 10px */
}

body{
    font-size: 1.6 rem;
    line-height: 1.5; /* line-height: never give unit of measurement to; takes font-size and it multiplies it to add space between the lines */
    color: #4f4f4f;
    font-family: 'PT Sans', sans-serif;
    background-color: #fffafa;
}

h1, h2, h3{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

i{
    font-size: 5rem;
}

a{
    text-decoration: none;
    color: #4f4f4f;
    transition: 2s;
}

a:hover{
    color: #fcb131;
}

section{
    padding: 4% 0; /* 4% of the body (parent element) */
}

/* Header Section */
header nav{
    display:flex;
    justify-content: space-between;
    padding: 2% 0;
    position: fixed;
    width:100%;
    z-index: 999; /* Puts the element to the forefront and everything else is behind it */
    background-color: rgba(255, 255, 255, 0.8);
}

.links{
    display: flex;
    width:50%;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width:8%;
    display: flex;
    justify-content:center;
    align-items: center;
} 

.button{
    display: inline-block; /* Only time using inline in the "real" world */
    width: 20%;
    text-align: center;
    padding: 2% 4%;
    border-radius: 10px;
    background-color: #fcb131;
    color: #fff;
    transition: 2s;
    border: 3px solid #fcb131
}

.button:hover{
    background-color: #fff;
    color: #fcb131;
}

/* Top Section */
#top{
    height: 90vh; /*Pushes everything w/o the top id down */
    background-image: url('../images/header.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%%;
}

/* Farm Fresh Section */
.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
}

.container div{
    width:21%;
    padding: 4%;
    border:3px solid #4f4f4f;
    background-color: white;
}

/* Empty Section */
.bg-img{
    background-image: url('../images/dirt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:40vh;
    background-attachment: fixed;
}

/* About Section */
#about div{ /* Can use flex box here but don't have to; instead see margin */
    width: 60%;
    margin: 0 auto; /* adjusts margins so they are equal on each side (left and right) */
    padding: 4%;
    background-color: #fff;
    border: 3px solid #4f4f4f;
    text-align: center;
}

/* Gallery Section */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
} 

.farm{
    width: 40%;
    height:40vh;
    margin:2% 0;
    background-image: url(../images/barn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cooking{
    width: 40%;
    height:40vh;
    margin:2% 0;
    background-image: url(../images/cook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.produce{
    width: 40%;
    height:40vh;
    margin:2% 0;
    background-image: url(../images/produce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.animals{
    width: 40%;
    height:40vh;
    margin:2% 0;
    background-image: url(../images/sheep.jpg);
    background-size: cover;
    background-repeat: no-repeat; /* Stops tiling effect on larger screens */
    background-position: center;
}

.hide{
    display: none;
    width: 100%;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.gallery div:hover .hide{
    display: block;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* Contact Section */
#contact{
    display: flex;
    flex-wrap: wrap;
}

#contact h2{
    width:100%;
}

.left, .right{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.left div h3{
    text-align: left;
}

.left div{
    line-height: 2.5;
    width: 50%;
}

.right img{
    width:80%;
}